entrenadores/top_entrenadores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="top_entrenadores">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="entrenador" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>                     
                            <xs:element name="nombre" type="xs:string"/>                       
                            <xs:element name="equipo" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="activo" use="required">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="si"/>
                                                        <xs:enumeration value="no"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="experiencia">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="1"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>                           
                            <xs:element name="victorias" type="xs:nonNegativeInteger"/>                     
                            <xs:element name="derrotas" type="xs:nonNegativeInteger"/>                       
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
